[submodule "pcl"]
	path = pcl
	url = https://github.com/PointCloudLibrary/pcl
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "ifcshell"]
	path = ifcshell
	url = https://github.com/IfcOpenShell/IfcOpenshell.git
